<ion-view view-title="购买卡页面" ng-controller="purchaseCtrl">

  <ion-content>


    <div class="list">
      <div class="item item-icon-right" >
        ￥0.001
        <span class="pull-right">客服</span>
      </div>
      <div class="item">
        <button class="button button-assertive button-full padding-horizontal" ng-click="confirm()">购买</button>
      </div>
    </div>
    <div class="list">
      <a class="item selectStores item-icon-right">
        商品详情
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item selectStores item-icon-right">
        商品图片
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item selectStores item-icon-right">
        商品参数
        <i class="icon ion-ios-arrow-right"></i>
      </a>


    </div>

  </ion-content>
</ion-view>