.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}.temp{
    background-color: #cccccc;
    width: 100%;
}
.main{
    width:100%;
    border-bottom: 1px solid red;
}