<div ng-controller="basics">
    <div class="hide-content" ng-hide="dataPool.isShadeShow"></div>
    <div class="content" ng-show="isHideBasic">
        <div class="content-block-title">请填写真实信息，获取优质服务</div>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title label pull-text-left">姓名</div>
                        <div class="item-input">
                            <input class="pull-text-right" type="text" ng-change="changeName(doctorInFo.realname)" ng-model="dataPool.doctorInfoList.doctor[0].realname" placeholder="请输入">
                        </div>
                    </div>
                </li>
                <li ng-click="myIdentity()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">我是</div>
                            <div class="item-after" id="my-identity" ng-bind="doctorTypeName">

                            </div>
                        </div>
                    </div>
                </li>
                <li ng-click="showHos($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left"><a href="">医院</a></div>
                            <div class="item-after" ng-bind="hospitalName">医院</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosDepartment($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">科室</div>
                            <div class="item-after" id="hos-department" ng-bind="dataPool.doctorInfoList.doctor[0].department.name">科室</div>
                        </div>
                    </div>
                </li>
                <li ng-click="registerDict($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">擅长</div>
                            <div class="item-after" ng-bind="item.name" ng-repeat="item in dataPool.doctorInfoList.doctor[0].specialty">擅长</div>
                        </div>
                    </div>
                </li>
                <li ng-click="showAcademy()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left"><a href="">毕业院校</a></div>
                            <div class="item-after" ng-bind="dataPool.doctorInfoList.doctor[0].schoolName">毕业院校</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div style="opacity: 1">
            <pic-Ker showdata='dataPool.selectData' getchangedata="getchange(id,name)" closepicker="closePicker()"></pic-Ker>
        </div>
        <div class="button-block" ng-click="saveRegisterInfo()">
            <p class="button button-next">下一步 </p>
        </div>
    </div>
    <!--医院-->
    <div class="content" ng-show="isShowHos">
        <div class="content-block-title" ng-click="hospitalBack()">返回</div>
        <div class="list-block">
            <ul>
                <li ng-click="hosRegion($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院地区</div>
                            <div class="item-after" id="hos-region" ng-bind="hospitalName">医院地区</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosProperty($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院属性</div>
                            <div class="item-after" id="hos-property">医院属性</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosName($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院名称</div>
                            <div class="item-after" id="hos-name" ng-bind="hospitalName">医院名称</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--毕业院校-->
    <div class="content" ng-show="isShowAcademy">
        <div class="content-block-title" ng-click="hospitalBack()">毕业院校返回</div>
        <div class="list-block">
            <ul>
                <li ng-click="academyRegion($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">院校地区</div>
                            <div class="item-after" id="academy-region">院校地区</div>
                        </div>
                    </div>
                </li>
                <li ng-click="graduateSchool($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">院校名称</div>
                            <div class="item-after" id="byschool">院校名称</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>