<div ng-controller="basicsInfo">
    <div class="hide-content" ng-hide="dataPool.isShadeShow"></div>
    <div class="content" ng-show="isHideBasic">
        <div class="content-block-title">请填写真实信息，获取优质服务</div>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">姓名</div>
                            <div class="item-input">
                                <input class="pull-text-right" type="text" ng-change="changeName(dataPool.realname)" ng-model="dataPool.realname" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-click="myIdentity()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">我是</div>
                            <div class="item-after" ng-bind="dataPool.doctorTypeName">

                            </div>
                        </div>
                    </div>
                </li>
                <li ng-click="showHos()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院</div>
                            <div class="item-after" ng-bind="dataPool.hospitalName">医院</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosDepartment()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">科室</div>
                            <div class="item-after" ng-bind="dataPool.departmentName">科室</div>
                        </div>
                    </div>
                </li>
                <li ng-click="registerDict()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">擅长</div>
                            <div class="item-after" ng-bind="dataPool.saveSpecialty.diseaseNames">擅长</div>
                        </div>
                    </div>
                </li>
                <li ng-click="showAcademy()">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">毕业院校</div>
                            <div class="item-after" ng-bind="dataPool.schoolName">毕业院校</div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div style="opacity: 0" ng-if="dataPool.selectData.oneCol.length || dataPool.selectData.twoCols.length">
            <oneclos-picker showdata='dataPool.selectData.oneCol' closeonecol='dataPool.selectData.closeOneCol' getchangedata="getchange(id,name)" closepicker="closePicker()"></oneclos-picker>
            <twoclos-picker twoshowdata='dataPool.selectData.twoCols' closetwocols='dataPool.selectData.closeTwoCols' getchangedata="getchange(id,name)" closepicker="closePicker()"></twoclos-picker>
        </div>
        <div class="button-block" ng-click="saveRegisterInfo()">
            <p class="button button-next">下一步 </p>
        </div>
    </div>

    <!--医院-->
    <div class="content" ng-show="isShowHos">
        <!--<div class="content-block-title" ng-click="hospitalBack()">返回</div>-->
        <div class="list-block">
            <ul>
                <li ng-click="hosRegion($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院地区</div>
                            <div class="item-after" ng-bind="dataPool.hosRegionName">医院地区</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosProperty($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院属性</div>
                            <div class="item-after" ng-bind="dataPool.hosPropertyName">医院属性</div>
                        </div>
                    </div>
                </li>
                <li ng-click="hosName($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">医院名称</div>
                            <div class="item-after" ng-bind="dataPool.hospitalName">医院名称</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--毕业院校-->
    <div class="content" ng-show="isShowAcademy">
        <!--<div class="content-block-title" ng-click="hospitalBack()">毕业院校返回</div>-->
        <div class="list-block">
            <ul>
                <li ng-click="academyRegion($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">院校地区</div>
                            <div class="item-after" ng-bind="dataPool.schoolRegionName">院校地区</div>
                        </div>
                    </div>
                </li>
                <li ng-click="graduateSchool($event)">
                    <div class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title label pull-text-left">院校名称</div>
                            <div class="item-after" ng-bind="dataPool.schoolName">院校名称</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>