<div class="menu">
    <ul>
        <li class="ali-center li-height" ng-repeat="menuData in menulist" ng-init="number=$index">
            <!--<a ui-sref="{{menuData.roteUrl}}">-->
            <img class="menu-ico" ng-src={{menuData.img}} alt="">
            <span class="menu-text">{{menuData.menuText}}</span>
            <span class="menu-stance"></span>
            <div class="arrow-left" ng-if="menuData.level!=''">
                <!--向左的三角-->
            </div>
            <div class="menu-level">
                <ul class="level-last">
                    <li ui-sref="{{leveldata.levelRoute}}" class="ali-center li-height" ng-click="greet({pIndex:number,tIndex:$index})" ng-repeat="leveldata in menuData.level">{{leveldata.levelTxt}}</li>
                </ul>
            </div>
            <!--</a>-->
        </li>
    </ul>

</div>