<div class="cardList wrapper" id="experience-card" ng-controller="experienceCardCtrl">
   <div class="scroller">
       <div class="list">
           <div class="love_card_div">
               <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp您有一张家庭医生卡<br/>可以免费用一次家庭医生服务</p>
               <image src="../img/common/ka_pic.png"></image>
           </div>
           <p class="public-p">您也可以</p>

           <a class="item selectStores item-icon-right" ui-sref="marketStores">
               购买家庭医生卡<span class="pull-right">(年卡)</span>
               <input class="hide" name="userStores" ng-model="option.shopId" required>
               <i class="icon icon-angle-right"></i>
           </a>

           <div class="button button-block button-sub bg-blue">
               <p>马上体验</p>
           </div>

       </div>
   </div>
</div>