<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script data-require="angular.js@1.2.21" data-semver="1.2.21" src="https://code.angularjs.org/1.2.21/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="mainStyle.css">
    <script src="script.js"></script>
    <!-- <script src="lrDragNDrop.js"></script> -->
    <script src="smart-table.js"></script>

  </head>

  <body>
    <section id="section-format" ng-controller="mainCtrl">
        <div class="table-container">
            <table st-table="rowCollection" class="table">
                <thead>
                    <tr>
                        <th colspan="11">客户列表</th>
                    </tr>
                    <tr>
                        <th ng-repeat="tab_title in table_title">{{tab_title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
                        <td cs-select="row"><span class="selectedTags" ng-class="{red:{{row.isSelected}}}">{{row.isSelected}}</span></td>
                        <td>{{row.numId}}</td>
                        <td>{{row.numTel}}</td>
                        <td>{{row.userName}}</td>
                        <td>{{row.address}}</td>
                        <td>{{row.committee}}</td>
                        <td>{{row.signHos}}</td>
                        <td>{{row.signDoc}}</td>
                        <td>{{row.numSell}}</td>
                        <td>{{row.numCreate}}</td>
                        <td><a ng-href="{{row.details}}">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>
