.st-selected{
    background: #216eff !important;
    color: white !important;
}
thead tr{
    background-color:#51C9FB;
}
tbody tr:nth-child(2n){
    background-color: #F4F4F4;
}
tbody tr:nth-child(2n+1){
    background-color: #fff;
}
.selectedTags{
    width:10px;
    height:10px;
}
.red{
    width:10px;
    height:10px;
    background-color: red;
}
.green{
    width:10px;
    height:10px;
    background-color: green;
}