<div class="consulting-records" ng-controller="ConsultingRecordsCtrl">
		<div class="consulting-records-nav" id="consultingRecordsContent">
			<div id="segmentedControl" class="tab-segmented-control">
				<a class="tab-control-item tab-active" href="#item1">
					待评价
				</a>
				<a class="tab-control-item" href="#item2">
					已完成
				</a>
			</div>
			<div class="wrapper consulting-records-body" style="top:1.9rem;">
				<div class="scroller">
					<div id="item1" class="tab-control-content tab-active">
						<ul class="list" id="consultingRecordItem1Id">
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay">评价</span></p>
								</div>
							</li>
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay">评价</span></p>
								</div>
							</li>
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay">评价</span></p>
								</div>
							</li>
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay">评价</span></p>
								</div>
							</li>
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay">评价</span></p>
								</div>
							</li>
						</ul>
						<div class="order-none" style="display: none;">
							<i class="icon-file-text2"></i>
							暂无订单
						</div>
					</div>
					<div id="item2" class="tab-control-content ">
						<ul class="list" id="consultingRecordItem2Id">
							<li class="item item-media">
								<img class="item-media-object left" src="../img/pic_people.png">
								<div class="item-media-body">
									<h2><span>张三</span><span>主治医生</span><span>12-12 15:00</span></h2>
									<p class="item-ellipsis">北京协和医院<span class="pay-end"></span></p>
								</div>
                            </li>
						</ul>
						<div class="order-none" style="display: none;">
							<i class="icon-file-text2"></i>
							暂无订单
						</div>
					</div>
					<div class="pull-bottom-tips">
                        <span class="pull-loading" id="consultingRecordsTips">上拉加载更多...</span>
                    </div>
				</div>
			</div>
		</div>
</div>