<div class="doctor-team wrapper" ng-controller="DoctorTeamCtrl" id="doctorTeamContent">
    <div class="scroller">
        <ul class="list" id="doctorTeamId">
            <li class="item item-media" onclick="doctorTeam.onclickdoctorTeamDetails(725)">
                <img class="item-media-object left" src="../img/default/yisheng_touxiang.png" onerror="this.src='../img/default/yisheng_touxiang.png';this.onerror=null">
                <div class="item-media-body">
                    <h2 class="item-ellipsis">董会卿<span>主任医师</span></h2>
                    <p class="item-ellipsis">接诊量：9999999</p>
                    <p class="item-ellipsis">中国人民解放军第306医院 皮肤美容科</p>
                </div>
            </li>
        </ul>
        <div class="pull-bottom-tips" style="display: none;">
            <span class="mui-pull-loading" id="doctorTeamTips">上拉加载更多...</span>
        </div>
    </div>
</div>