<div class="service-process" ng-controller="ServiceProcessCtrl">
    <div id="dowebok">
        <div class="section section1">
            <article>
                <section>
                    <span class="on"><em>1</em><i></i></span>
                    <span><em>2</em><i></i></span>
                    <span><em>3</em><i></i></span>
                    <span><em>4</em><i></i></span>
                    <span><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/01.png" />
                <div class="click"><img src="../img/service_hyperesources/hand.png"/></div>
                <p>
                    <strong>第一步</strong>
                    点击"呼叫医生"
                </p>
            </article>
        </div>
        <div class="section section2">
            <article>
                <section>
                    <span><em>1</em><i></i></span>
                    <span class="on"><em>2</em><i></i></span>
                    <span><em>3</em><i></i></span>
                    <span><em>4</em><i></i></span>
                    <span><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/02.png" />
                <p>选择科室,填写联系电话</p>
                <p class="p2">描述患者情况</p>
                <p class="p3">最好附上患处照片或见检查单据</p>
                <!--<h3>最后选择"呼叫医生"</h3>-->
            </article>
        </div>
        <div class="section section3">
            <article>
                <section>
                    <span><em>1</em><i></i></span>
                    <span><em>2</em><i></i></span>
                    <span class="on"><em>3</em><i></i></span>
                    <span><em>4</em><i></i></span>
                    <span><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/03.png" />
                <div class="call"><img src="../img/familyDoctor/gif_phone.gif" alt="" /></div>
                <p>问题提交后，系统会为你您匹配合适<br />的医生，通常需要1~3分钟</p>
            </article>
        </div>
        <div class="section section4">
            <article>
                <section>
                    <span><em>1</em><i></i></span>
                    <span><em>2</em><i></i></span>
                    <span class="on"><em>3</em><i></i></span>
                    <span><em>4</em><i></i></span>
                    <span><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/04.png" />
                <p>医生接单后，你可以看到接单医生的信息，并查看医生的详细介绍。</p>
            </article>
        </div>
        <div class="section section5">
            <article>
                <section>
                    <span><em>1</em><i></i></span>
                    <span><em>2</em><i></i></span>
                    <span><em>3</em><i></i></span>
                    <span class="on"><em>4</em><i></i></span>
                    <span><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/05.png" />
                <p>医生会仔细阅读您的病情和图片，一般在接单后1分钟内来电。注意不要拒接</p>
            </article>
        </div>
        <div class="section section6">
            <article>
                <section>
                    <span><em>1</em><i></i></span>
                    <span><em>2</em><i></i></span>
                    <span><em>3</em><i></i></span>
                    <span><em>4</em><i></i></span>
                    <span class="on"><em>5</em><i></i></span>
                </section>
                <img src="../img/service_hyperesources/07.png" />
                <p>咨询结束后，医生还会给您发送<br>文字总结，供您查看</p>
            </article>
        </div>
    </div>
    <div class="more"><img src="../img/btn_down.png"/></div>
</div>