<div class="prm-editPatient" ng-controller="editPatient">
    <tab-header>
        编辑标签成员
        <operator-header>
            <div ng-click="goBack()">完成</div>
        </operator-header>
    </tab-header>
    <content-item>
        <ul class="patient-list">
            <li class="patient-box" ng-repeat="item in patientList" ng-if="item.disable">
                <div class="patient-img"><img ng-src="{{item.portrait}}"></div>
                <div class="patient-name">{{item.realname}}</div>
                <div class="del-icon pull-right" ng-click="editPatientTag(item.id,$index)"></div>
            </li>
        </ul>
    </content-item>
</div>