<div class="prm-delLabel" ng-controller="delLabel">
    <tab-header>
        <history-back back="goBack()">
            <div ng-if="!hideDelIcon" class="arrow-left"></div>
        </history-back>
        标签管理
        <operator-header>
            <div>
                <span ng-if="!hideDelIcon" ng-click="editLabel()">编辑</span>
                <span ng-if="hideDelIcon" ng-click="editLabel()">完成</span>
            </div>
        </operator-header>
    </tab-header>
    <content-item>
        <ul class="label-list">
            <li class="label-item" ng-repeat="item in tagList" ng-if="item.disable" ng-click="gotoTagDetails(item.tagName)">
                <div class="item-inner pull-left">{{item.tagName}}({{item.count}})</div>
                <div class="pull-right" ng-click="delLabelTag($event,$index,item.tagName)" ng-class="{true:'del-icon',false:'arrow-right'}[hideDelIcon]"></div>
            </li>
        </ul>
    </content-item>
</div>