<div class="prm-tagDetails" ng-controller="tagDetails">
    <tab-header>
        <history-back back="goBack()">
            <div ng-if="!hideDelIcon" class="arrow-left"></div>
        </history-back>
        {{tagname}}
        <operator-header></operator-header>
    </tab-header>
    <content-item>
        <div class="content-block-title content-block-bg">标签名称</div>
        <div class="content-block-title" ng-click="editLabel()">{{tagname}}</div>
        <div class="content-block-title content-block-bg">
            标签成员({{patientList.length}})
            <span class="pull-right btn-edit" ng-click="editPatient()">编辑</span>
        </div>
        <ul class="patient-list">
            <li class="patient-box" ng-repeat="item in patientList">
                <div class="patient-img"><img ng-src="{{item.portrait}}"></div>
                <div class="patient-name">{{item.realname}}</div>
            </li>
        </ul>

    </content-item>
</div>