<div class="callout">
    <ul class="dial">
        <li ng-click="dial()" ng-hide="true">
            <i class="icon icon-dial"></i>
            <span>拨号</span>

            <p class="errorMsg" ng-show="isError">{{phoneErrorMsg}}</p>
        </li>
        <li ng-click="busy()">
            <i class="icon icon-busy"></i>
            <span>{{isBusy?'置闲':'置忙'}}</span>
        </li>
        <li ng-click="connect()" ng-hide="true">
            <i class="icon icon-translation"></i>
            <span>转接</span>
        </li>
        <li ng-click="keep()">
            <i class="icon icon-keep"></i>
            <span>保持</span>
        </li>
        <li ng-click="mute()" ng-hide="true">
            <i class="icon icon-mute"></i>
            <span>静音</span>
        </li>
        <li ng-click="hang()">
            <i class="icon icon-hang"></i>
            <span>挂机</span>
        </li>
    </ul>
    <div class="pull-right input-wrap" ng-hide="true">
        <input type="text" placeholder="请输入电话号码" ng-model='phone'>
    </div>

    <ul class="dial">
        <li ng-click="signIn()" ng-show="!docheckin">
            <i class="icon icon-sign-in"></i>
            <span>{{checkin||'签入'}}</span>
        </li>
        <li ng-click="signOut()" ng-show="docheckin">
            <i class="icon icon-sign-out"></i>
            <span>{{checkout || '签出'}}</span>
        </li>
    </ul>
</div>