<section id="section-format" ng-controller="tableCtrl" class="task-main">
    <div class="table-container">
        <div class="batch-count">
            <div class="btn-group pull-left" ng-if="isHidden==='task'">
                <span>分配数量:</span>
                <span class="all-checked" ng-click="allChecked()">
                    <img src="http://7xso1h.com2.z0.glb.clouddn.com/img-false.png">
                    全选(100)
                </span>
                <input type="text" placeholder="输入数量" class="form-control">
                <button ng-click="getChecked()" class="task-btn btn-primary ">分配</button>
            </div>
            <!--所有任务-->
            <div class="btn-group pull-left" ng-if="isHidden==='alltask'||isHidden==='mytask'">
                <label>姓名</label>
                <input type="text" placeholder="姓名" class="form-control">
                <label>电话</label>
                <input type="text" placeholder="电话" class="form-control">
                <label>签约医生</label>
                <input type="text" placeholder="签约医生" class="form-control">
                <button class="task-btn btn-primary">搜索</button>
            </div>
            <div class="btn-group pull-right" ng-if="isHidden==='mytask'">
                <button class="task-btn pull-right btn-primary">超额申请</button>
                <button class="task-btn pull-right btn-primary">历史记录</button>
            </div>
            <div class="btn-group pull-right" ng-if="isHidden==='alltask'">
                <button class="task-btn pull-right btn-primary">超额申请历史记录</button>
            </div>
        </div>
        <div class="allot-box" ng-if="showAllotBox">
            <div class="allot-child">
                <div class="allot-close" ng-click="closeAllotBox()"></div>
                <div class="allot-select" ng-if="allotSelect">
                    <p class="allot-title">选择坐席或者公共池</p>
                    <p>
                        <select class="slide-down allot-selected" ng-options="x for x in allotGroup" ng-model="defaultTxt" ng-change="groupOnChange(defaultTxt)"></select>
                        <select class="slide-down allot-selected" ng-options="x for x in allotGroupId" ng-model="defaultId" ng-change="groupIdOnChange(defaultId)"></select>
                        <span class="allot-confirm" ng-click="allotConfirm()">确定分配</span>
                    </p>
                </div>
                <div class="allot-success" ng-if="!allotSelect">
                    <p class="allot-title">分配成功！</p>
                    <p class="allot-txt">分配成功，分配给了<span>{{selectedTxt}}</span>座席<span>{{selectedId}}</span>个任务。</p>
                </div>
            </div>
        </div>
        <table st-table="rowCollection" class="table">
            <caption>客户列表</caption>
            <thead>
                <tr>
                    <th ng-repeat="tabTitle in tableTitle">{{tabTitle}}</th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection" ng-init="numId=row.isSelected">
                    <td on-select="row"></td>
                    <td>{{row.numId}}</td>
                    <td ng-if="!row.positionNum==''">{{row.positionNum}}</td>
                    <td>{{row.numTel}}</td>
                    <td>{{row.userName}}</td>
                    <td>{{row.address}}</td>
                    <td ng-if="!row.callTel==''">
                        <span class="task-call-tel task-tel-layout"></span>
                        <!--<span ng-click="taskCallOut($event,row.numTel)" class="task-call-out task-tel-layout"></span>-->
                        <ul class="show-tel-num popover">
                            <li class="tel-num-item" ng-click="taskCallTel($event,row.numTel)">{{row.numTel}}</li>
                            <li class="tel-num-item" ng-click="taskCallTel($event,row.numTel)">{{row.numTel}}</li>
                            <li class="tel-num-item" ng-click="taskCallTel($event,row.numTel)">{{row.numTel}}</li>
                        </ul>
                    </td>
                    <td>{{row.committee}}</td>
                    <td>{{row.signHos}}</td>
                    <td>{{row.signDoc}}</td>
                    <td ng-if="isHidden!='task'"><span class="item-detail" ng-click="goToDeTail($event,row.taskId)">详情</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--分页-->
    <div>
        <split-page page="pageData" changepage="splitPage(page,itemsPerPage)"></split-page>
    </div>
</section>