<div class="callout">
    <ul class="dial">
        <li ng-click="dial()">
            <i class="icon icon-bohao"></i>
            <span>拨号</span>
        </li>
        <li>
            <i class="icon icon-fanmang"></i>
            <span>繁忙</span>
        </li>
        <li ng-click="connect()">
            <i class="icon icon-zhuanjie"></i>
            <span>转接</span>
        </li>
        <li ng-click="keespan()">
            <i class="icon icon-baochi"></i>
            <span>保持</span>
        </li>
        <li>
            <i class="icon icon-jingyin"></i>
            <span>静音</span>
        </li>
        <li>
            <i class="icon icon-guaji"></i>
            <span>挂机</span>
        </li>
    </ul>

    <div class="right input-wrap ">
        <input type="text" placeholder="请输入电话号码" ng-model='phone'>
    </div>

    <ul class="dial">
        <li ng-click="signIn()">
            <i class="icon icon-qianru"></i>
            <span>签入</span>
        </li>
        <li ng-click="signOut()">
            <i class="icon icon-qianchu"></i>
            <span>签出</span>
        </li>
    </ul>
</div>