<div class="choice-box">
     <span ng-if="boxstyle.problemType == '1'" ng-repeat="option in boxstyle.options" class="radio-box sign-survey-form">
        <input  type="radio" id="{{option.optionId}}" name="{{option.problemId}}"  ng-click="radioChange(option.problemId,option.optionContent)">
        <label for="{{option.optionId}}"></label>{{option.optionContent}}
    </span>
    <span ng-if="boxstyle.problemType == '2'" ng-repeat="option in boxstyle.options" class="check-box sign-survey-form">
        <input type="checkbox" id="{{option.optionId}}" ng-click="checkboxChange(option.problemId,option.optionContent)">
        <label for="{{option.optionId}}"></label>{{option.optionContent}}
    </span>
</div>